h1, h2, h3, p {
  color: maroon;
}

.home, .about, .contact {
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
}

.home-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.home-text {
  position: relative;
  padding: 50px;
  width: 40%;
  margin-left: 50%;
  overflow: hidden;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

ul {
  padding: 50px;
}

li {
  list-style-type: none;
  text-align: left;
  padding: 20px
}

li a {
  color: maroon;
  font-size: calc(10px + 2vmin);
  text-decoration: none;
}