h1, h2, h3, a {
  color: maroon;
  font-family: 'Cormorant Unicase';
}

p {
  color: maroon;
  font-family: 'Montserrat', sans-serif;
}

.home, .about, .contact {
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
}

.page-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.page-text {
  position: relative;
  padding: 50px;
  width: 40%;
  margin-left: 50%;
  overflow: hidden;
}

.page-specific-text {
  animation: fade 1s;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  animation: slide 3s;
}

ul {
  padding: 50px;
}

li {
  list-style-type: none;
  text-align: left;
  padding: 20px;
  font-weight: bolder;
  transition: 1s;
}

li a {
  font-size: calc(10px + 2vmin);
  text-decoration: none;
}

li:hover {
  padding-left: 30px;
  transform: scale(1.1);
  transition: 1s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}

@keyframes slide {
  from {transform:translate(-200px)}
  to {transform: translate(0);}
}